<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleof.org">
<head>
<title>Java Blog</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/style/main.css" />
</head>
<body>
	<div th:replace="components/header"></div>
	<div layout:fragment="content"></div>
</body>
</html>