<div class="container">
	<div class="row">
		<div class="col">
			<header>
				<h1>Java Blog</h1>
				<nav>
					<span sec:authorize="isAuthenticated()" th:text="Hello + ' ' + ${#authentication.getPrincipal().getUser().getUsername()}"></span>
					<a class="btn btn-primary" sec:authorize="isAnonymous()" href="/login">Login</a> 
					<a class="btn btn-primary" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
					<a class="btn btn-primary" sec:authorize="isAuthenticated()" href="/blog/create">New Blog</a>
					<a class="btn btn-primary" href="/registration/show">Registrations</a>
				</nav>
			</header>
		</div>
	</div>
</div>