<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymleof.org">
<head>
<title>Java Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/style/main.css" />
</head>
<body>
	<div th:replace="components/header"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<form method="POST" action="/blogs/store">
					<div class="form-group">
						<input name="title" type="text" placeholder="Title"
							class="form-control" />
					</div>
					<div class="form-group">
						<textarea name="content" placeholder="Content"></textarea>
					</div>
					<div class="form-group">
						<input name="submit" type="submit" value="Submit"
							class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>